In [0]:
the_avengers = {
    "Iron Man": "Tony Stark",
    "Captain America": "Steve Rogers",
    "Hulk": "Bruce Banner",
    "Thor": "Thor",
    "Black Widow": "Natasha Romanoff",
    "Hawkeye": "Clint Barton"
}

In [0]:
print(type(the_avengers))

<class 'dict'>

In [0]:
print(the_avengers.keys())

dict_keys(['Iron Man', 'Captain America', 'Hulk', 'Thor', 'Black Widow', 'Hawkeye'])

In [0]:
print(the_avengers.values())

dict_values(['Tony Stark', 'Steve Rogers', 'Bruce Banner', 'Thor', 'Natasha Romanoff', 'Clint Barton'])

In [0]:
print(the_avengers.items())

dict_items([('Iron Man', 'Tony Stark'), ('Captain America', 'Steve Rogers'), ('Hulk', 'Bruce Banner'), ('Thor', 'Thor'), ('Black Widow', 'Natasha Romanoff'), ('Hawkeye', 'Clint Barton')])

In [0]:
living_area = input("請輸入您的居住縣市:")
living_cost = None
if living_area == '臺北市':
    living_cost = 17005
    print("{}的每人每月最低生活費為{:,}".format(living_area, living_cost))
elif living_area == '新北市':
    living_cost = 15500
    print("{}的每人每月最低生活費為{:,}".format(living_area, living_cost))
elif living_area == '桃園市':
    living_cost = 15281
    print("{}的每人每月最低生活費為{:,}".format(living_area, living_cost))
elif living_area == '臺中市':
    living_cost = 14596
    print("{}的每人每月最低生活費為{:,}".format(living_area, living_cost))
elif living_area == '臺南市':
    living_cost = 12388
    print("{}的每人每月最低生活費為{:,}".format(living_area, living_cost))
elif living_area == '高雄市':
    living_cost = 13099
    print("{}的每人每月最低生活費為{:,}".format(living_area, living_cost))
elif living_area == '非六都之縣市':
    living_cost = 12388
    print("{}的每人每月最低生活費為{:,}".format(living_area, living_cost))
elif living_area == '金門縣連江縣':
    living_cost = 11648
    print("{}的每人每月最低生活費為{:,}".format(living_area, living_cost))
else:
    print("請重新輸入居住縣市")

請輸入您的居住縣市:臺北市
臺北市的每人每月最低生活費為17,005

In [0]:
living_cost_dict = {
    '臺北市': 17005,
    '新北市': 15500,
    '桃園市': 15281,
    '臺中市': 14596,
    '臺南市': 12388,
    '高雄市': 13099,
    '非六都之縣市': 12388,
    '金門縣連江縣': 11648
}

living_area = input("請輸入您的居住縣市:")
living_cost = living_cost_dict[living_area]
print("{}的每人每月最低生活費為{:,}".format(living_area, living_cost))

請輸入您的居住縣市:臺北市
臺北市的每人每月最低生活費為17,005

In [0]:
primes = {2, 3, 5, 7, 11, 13}
print(primes)
print(type(primes))

{2, 3, 5, 7, 11, 13}
<class 'set'>

In [0]:
primes_list = [2, 3, 3, 3, 5, 5]
print(primes_list)

[2, 3, 3, 3, 5, 5]

In [0]:
set(primes_list)

{2, 3, 5}

In [0]:
primes = {2, 3, 5, 7, 11, 13, 13, 13, 11, 11, 11, 11, 2, 2, 2}
print(primes)

{2, 3, 5, 7, 11, 13}

In [0]:
primes = {2, 3, 5, 7, 11, 13}
odds = {1, 3, 5, 7, 9, 11, 13}
print(type(primes))
print(type(odds))

<class 'set'>
<class 'set'>

In [0]:
# 交集
primes & odds

{3, 5, 7, 11, 13}

In [0]:
# intersection
primes | odds

{1, 2, 3, 5, 7, 9, 11, 13}

In [0]:
# .union 
primes.union(odds)

{1, 2, 3, 5, 7, 9, 11, 13}

In [0]:
# 差異
print(primes - odds)
print(odds - primes)

{2}
{1, 9}

In [0]:
# .difference
print(primes.difference(odds))
print(odds.difference(primes))

{2}
{1, 9}

In [0]:
(primes - odds) | (odds - primes)

{1, 2, 9}

In [0]:
# 對稱差異
primes ^ odds

{1, 2, 9}

In [0]:
# .symmetric_difference
print(primes.symmetric_difference(odds))

{1, 2, 9}

In [0]:
import requests

today_json = requests.get("https://data.nba.net/10s/prod/v1/today.json").json()
print(type(today_json))

<class 'dict'>

In [0]:
today_json.keys()

dict_keys(['_internal', 'teamSitesOnly', 'seasonScheduleYear', 'showPlayoffsClinch', 'links'])

In [0]:
print(type(today_json['links']))

<class 'dict'>

In [0]:
primes_list = [2, 3, 5, 7, 11]
I = iter(primes_list)
next(I)

2

In [0]:
primes_tuple = (2, 3, 5, 7, 11)
I = iter(primes_tuple)
next(I)

2

In [0]:
I = iter(living_cost_dict.keys())
next(I)

'臺北市'

In [0]:
I = iter(living_cost_dict.values())
next(I)

17005

In [0]:
I = iter(living_cost_dict.items())
next(I)

('臺北市', 17005)

In [0]:
may4th = "Luke, use the Force!"

In [35]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __reduce__(...)
 |      helper for pickle
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value, [start, [stop]]) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [36]:
for i in range(1, 101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100